We first install Beautiful Soup to our Jupyter Notebook instance

In [12]:
import pip

if int(pip.__version__.split('.')[0])>9:
    from pip._internal import main
else:
    from pip import main
def install(package):
    main(['install', package])
install('BeautifulSoup4')

Requirement already satisfied: BeautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from BeautifulSoup4) (2.0)

Next we bring in our other libraries for reading and parsing data

In [13]:
from bs4 import BeautifulSoup
import csv
import requests
import pandas as pd

We now parse the Wikipedia page and put the results into a list. We will have three columns: Postal code, Borough and Neighborhood

In [6]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(source, 'html')

table = soup.find('table')
list_table = []
for line in table.find_all('tr'):
    if "Not assigned" not in line.contents[3].text:
        list_table.append([line.contents[1].text.replace('\n',''), line.contents[3].text.replace('\n',''), line.contents[5].text[:-1].replace('\n','').replace(' / ',', ')])

Now we put the contents of our list with the three columns into a dataframe

In [7]:
df_postal = pd.DataFrame(list_table[1:], columns=list_table[0])
df_postal

,Postal code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road , Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,Business reply mail Processing CentrE
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

Lastly, show the shape of the dataframe

In [9]:
print('The dataframe shape is: ') 
print(df_postal.shape)

The dataframe shape is:
(103, 3)